.commentMap{
    width: 50%;
    justify-content: center;


    .postInner{
      width: 100%;
      display: flex;
      align-items: center;
  
      .userCommentInfo{

         p{
          font-size: 13px;
          color: gray;
          margin-top: -10px;
         }
      }

      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      h3{
        text-decoration: none;
        color: black;
      }

      p{
        font-size: 16px;
      }

      button{
        background: transparent;
        border: none;
        transition: 0.3s ease;

        &:hover {
          scale: (1.2);
        }
      }
    }
  }


