.create-main{
  background-color: #f2f2f2;
  min-height: 100vh;


.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img{
      height: 150px;
      width: auto;
      margin: 0;
      padding: 0;

    }

    form {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    
    .title {
      margin-bottom: 20px;
      justify-content: center;
      
      h3 {
        font-size: 25px;
        text-align: center;
        
      }
  
      input {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  
    .contents {
      margin-bottom: 20px;
    
      textarea {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        resize: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }

      button{
        background: transparent;
        border: none;
        scale: 1.3;
        padding: 5px 10px;
        transition: 0.3s ease;
        color: #9d1b65;


        &:hover {
        color: #1F3B75;
        transform: scale(1.2);
        }
      }

      .imagePreview{
        position: relative;

        img{
          width: 30%;
        }

        button{
          position: absolute;
          top: 2;
          right: 2;

        }
      }


    }
  
    .submit {
      text-align: center;
  
      button {
        padding: 5px 10px;
        background-color: #9d1b65;
        color: white;
        border: none;
        scale: 1.7;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        transition: 0.3s ease;
  
        &:hover {
          background-color: #1F3B75;
          transform: scale(1.1);
        }
      }
    }
  
    div {
      margin-top: 20px;
      margin-bottom: 20px;

    }
  }
}
  
}