body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #0b0d25;
  
    form {
      display: flex;
      flex-direction: column;
  
      .title {
        justify-content: flex-start;
        gap: 10px;
        display: flex;
        color: white;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
  
        h3 {
          font-size: 24px;
          font-weight: bold;
          color: white;
        }
      }
  
      .inputBoxes {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
  
        input[type='text'],
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          background-color: white;
        }
  
        textarea {
          resize: vertical;
          min-height: 150px;
        }
      }
  
      .contents {
        input[type='file'] {
          margin-bottom: 20px;
          color: white;
        }
      }
  
      .submit {
        button {
          padding: 10px 20px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          margin-top: 10px;
        }
      }
  

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
  }
  