form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    
    .title {
      margin-bottom: 20px;
  
      h3 {
        font-size: 25px;
        text-align: center;
      }
  
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  
    .contents {
      margin-bottom: 20px;
  
      textarea,
      input[type='text'],
      input[type='file'] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  
    .submit {
      text-align: center;
  
      button {
        padding: 10px 20px;
        background-color: #1F3B75;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #9d1b65;
        }
      }
    }
  
    > div {
      margin-top: 20px;
      margin-bottom: 20px;
  
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
      }
  
      h4 {
        margin-top: 20px;
      }
  
      p {
        margin-bottom: 20px;
      }
    }
  }
  