.create-main{
  background-color: #f2f2f2;
  min-height: 100vh;


.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img{
      width: 20%;
    }

    form {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    
    .title {
      margin-bottom: 20px;
      justify-content: center;
      
      h3 {
        font-size: 25px;
        text-align: center;
        
      }
  
      input {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  
    .contents {
      margin-bottom: 20px;
  
      textarea {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        resize: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        outline: none;
      }

      .customInput{
        color: transparent;
        font-size: 20px;
      }
      .customInput::-webkit-file-upload-button {
        visibility: hidden;
      }
      .customInput::before {
        content: 'Upload your photo';
        color: black;
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        margin-bottom: 20px;
        
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }
      .customInput:hover::before {
        border-color: black;
      }
      .customInput:active {
        outline: 0;
      }
      .customInput:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }

    }
  
    .submit {
      text-align: center;
  
      button {
        padding: 5px 10px;
        background-color: #9d1b65;
        color: white;
        border: none;
        scale: 1.7;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        transition: 0.3s ease;
  
        &:hover {
          background-color: #1F3B75;
          transform: scale(1.1);
        }
      }
    }
  
    div {
      margin-top: 20px;
      margin-bottom: 20px;

    }
  }
}
  
}