.leftBar {
    width: 18em;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.15);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;

    .container {
        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;    
            gap: 30px;

            div, a {
                border-radius: 5px;
                padding: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 18px;
                cursor: pointer;
                text-decoration: none;
                transition: ease-in-out 0.3s;
                transform: scale(1);
            }

            .createPost, .createBtn, .createPost a {
                color: #9d1b65;
                background-color: transparent;
                font-weight: 700;
                &:hover {
                    opacity: 50%;

                }
                
                
            }

            .search, .explore, .people, .saved {
                color: #9d1b65;
                background-color: transparent;
                font-weight: 700;
                &:hover {
                    opacity: 50%;
                }
                .searchSVG {
                    font-size: 1.4em;
                    margin-left: 3px;
                }
            }

            svg {
                font-size: 1.2em;
                margin-right: 10px;
            }
        }
    }
}
