.settingsContainer{


    .upperSection{
        margin-bottom: 50px;

    .userHead{
        align-items: center;

        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        h2{
            font-size: 20px;
        }

    }

    .header{
        
        h1{
            color: #9d1b65;
            font-size: 2.5rem;

        }


    }

}
    .innerContainer{
        display: flex;
        justify-content: space-around;

    

    .inputValues{
        display: flex;
        flex-direction: column;

    }

    
    .inputMain{
        display: flex;
        flex-direction: column;

        form{
            flex-direction: column;
            align-items: center;


        input{
            width: 70%;
            border: none;
            border-bottom: 1px solid lightgray;
            padding: 20px 10px;
        }

        }
        
    }
    .submitBtns{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;


        button {
            padding: 10px 10px;
            background-color: #9d1b65;
            color: white;
            border: none;
            scale: 1.2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            transition: 0.3s ease;
      
            &:hover {
              background-color: #1F3B75;
              transform: scale(1.1);
            }
          }
    }
        }
}

