.suggestedUserWrapper {
    width: 10em;
   
    .userInfo{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .profilePic{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-top: 10px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
    
            }
        }

        .profileInfo{
            width: 100%;
            display: flex;
            line-height: 0;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 14px;
                display: flex;

            }
        }
    }

    .actionBtn{
        flex: 1;
        display: flex;
        justify-content: flex-end;

        button {
            padding: 5px 10px;
            background-color: #9d1b65;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            transition: 0.3s ease;
      
            &:hover {
              background-color: #1F3B75;
              transform: scale(1.1);
            }
          }
    }
    

}


   